.api-button{
    display: flex;
    flex-direction: row;
    float: right;
    margin-right:75px;
    background-color: #FFFFFF;
                fill: #FFFFFF;
                font-weight: 600;
                box-shadow: none;
                line-height: 1;
                font-size: 18px;
                padding: 12px 24px;
                border-radius: 3px;
                text-align: center;
                transition: all .45s;
                border-style: none;
                color: black;
                font-family: "Montserrat", Sans-serif;
                font-size: 100%;
                display: flex;
                margin-right:14px;
                display: flex;
                margin-top: 14px;
                
}

.api h2{
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.API-Section{
    background: #E2E9F1;
}

#below-head{
    background-color: white;
    padding: 30px;
}

#below-head-values{
    background-color: #C4DFF4;
}

.api-table>thead>tr>th {
    padding: 30px;
    background-color: #202D62;
    color: white;
}

.api-table{
    margin-bottom: 34px;
}

