.custom-table>tbody>tr>th ul{
          color: black;
}
.custom-table>tbody>tr>td ul{
          color: black;
}

#arncode-section li{
    color: white;
}

#Retirement-schemeSection, .btn-primary{
    text-align: center;
}